@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    user-select: none;
    box-sizing: border-box;
}


body {
    background-color: #F4F7FA;
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
    line-height: 1.5;
    color: #000;

}

.btn{
    font-family: 'Poppins', sans-serif !important;
    border: none;
    outline: none;
    background: #999;
    line-height: 1.5;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
    border-radius: 0;

}
.send-btn {
    background-color: #4478E9;
    color: #fff;
    padding: 10px 15px;
    margin-left: 5px;
    cursor: pointer;
}

.send-btn:hover {
    background-color: #4580ff;
}

.msg-box {
    line-height: 1.5;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
    padding: 10px 15px;
    outline: 0;
    border: 0;
}
::placeholder {
    font-family: 'Poppins', sans-serif !important;
    color: #999;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px;;
    padding: 15px 0;
    padding-bottom: 20px;
    margin: 5px;
}

#chat-box {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
    margin: 5px;
    padding: 15px;
    overflow: auto;
    margin-bottom: 80px;
}

#chat-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    max-height: 100%;
}

.message {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 5px;
    margin-right: 10px;
    flex-direction: column;
}

.message .msg-text  {
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 5px;
    overflow-wrap: break-word;
    user-select: text;

}
.message.incoming .msg-text{
    background-color: #2965E6;
    color: #fff;
}
.message.outcoming .msg-text{
    background-color: #FFFFFF;
    color: #333;
}
.outcoming {
    align-items: flex-end;
}

.conn-info {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 5px;
    color: #999;
    font-size: 12px;
}

#conn-id {
    color: #333;
    font-size: 12px;
    margin-left: 5px;
}

#conn-ip {
    color: #333;
    font-size: 12px;
    margin-left: 5px;
}

.msg-author {
    color: #999;
    font-size: 13px;
    margin: 5px 3px 3px 5px;
    margin-left: 5px;
    font-weight: 500;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.msg-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px;
    margin-right: 10px;
    flex-direction: column;
}

.msg-info-text {
    color: #cdcdcd;
    margin-left: 5px;
    overflow-wrap: break-word;
    font-weight: 600;
}

.theme-btn{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    padding: 5px 10px ;
    border-radius: 10px;
    font-size: 1.4rem;
    background-color:  #fff;
    color:#333;
    margin: 10px;
}
.theme-btn span.bi-moon{
    position: relative;
    left: 2px;
    font-size: 1.4rem;
}
@media (max-width: 768px) {
    .send-icon{
        display: none;
    }
    .theme-btn{
        top: 0;
        bottom: auto;
    }
}